/* Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #efefef;
  color: #333;
  text-shadow: none; }

::selection {
  background: #efefef;
  color: #333;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #efefef;
  color: #333;
  text-shadow: none; }

::selection {
  background: #efefef;
  color: #333;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

/* ==========================================================================

   Buttons

   ========================================================================== */
/* ==========================================================================

   Vertical Rhythm and Modular Scale with Baseline Grid by Justin Metros
   // inspired by www.gridlover.net

   ========================================================================== */
/* Typography
------------------------------------------------------------ */
body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28.8px; }

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1, .alpha {
  font-size: 74px;
  line-height: 86.4px;
  margin-top: 0px;
  margin-bottom: 28.8px;
  line-height: .8; }

h2, .beta {
  font-size: 46px;
  line-height: 57.6px;
  margin-top: 0px;
  margin-bottom: 28.8px;
  line-height: .8; }

h3, .gamma {
  font-size: 29px;
  line-height: 57.6px;
  margin-top: 0px;
  margin-bottom: 28.8px;
  line-height: .9; }

h4, .delta {
  font-size: 18px;
  line-height: 28.8px;
  line-height: 1; }

h5, .epsilon {
  font-size: 11px;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1; }

h6, .zeta {
  font-size: 7px;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1; }

p, ul, ol {
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 28.8px; }

html {
  height: 100%; }

body {
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  background: #f1f1f1;
  height: 100%; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.content {
  float: left;
  display: block;
  margin-right: 2.17235%;
  width: 100%;
  overflow: scroll;
  height: 100%; }
  .content:last-child {
    margin-right: 0; }
  .content .content_section {
    float: left;
    display: block;
    margin-right: 2.17235%;
    width: 100%;
    overflow: hidden;
    min-height: 100%; }
    .content .content_section:last-child {
      margin-right: 0; }
    .content .content_section .content-container {
      float: left;
      display: block;
      margin-right: 2.17235%;
      width: 60.70294%;
      margin-left: 23.57824%;
      padding: 100px 0px 0px 0px; }
      .content .content_section .content-container:last-child {
        margin-right: 0; }

.main_sidebar {
  float: left;
  display: block;
  margin-right: 2.17235%;
  width: 13.54647%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%; }
  .main_sidebar:last-child {
    margin-right: 0; }
  .main_sidebar .logo {
    background: url("../img/logo.svg") no-repeat center/80% 80%;
    background: url("../img/logo.svg") no-repeat center/80% 80%;
    height: 25%; }
  .main_sidebar a {
    color: rgba(255, 255, 255, 0.8); }
    .main_sidebar a:hover {
      color: white; }
  .main_sidebar .main_nav {
    height: 75%;
    z-index: 10; }
    .main_sidebar .main_nav .nav_list {
      height: 100%; }
      .main_sidebar .main_nav .nav_list .nav_list_item {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 46px;
        line-height: 57.6px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: .8;
        height: 16.666666667%;
        overflow: hidden;
        text-align: center;
        padding-top: .55em;
        border-top: 1px dotted rgba(241, 241, 241, 0.3); }
        .main_sidebar .main_nav .nav_list .nav_list_item span {
          font-size: 11px;
          line-height: 28.8px;
          margin-top: 0px;
          margin-bottom: 0px;
          display: block;
          font-family: "Roboto Slab", sans-serif;
          font-weight: 300;
          text-transform: lowercase;
          font-style: italic;
          opacity: .8; }

.footer {
  display: none; }

.img_wrap {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
  position: relative;
  height: 300px; }
  .img_wrap:last-child {
    margin-right: 0; }
  .img_wrap img {
    position: absolute;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%; }
  .img_wrap .animated {
    opacity: 0; }
  .img_wrap:hover .animated {
    opacity: 1; }

#section-colorcode {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  #section-colorcode label {
    font-size: 118px;
    line-height: 144px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
  #section-colorcode #color-input {
    position: relative;
    top: -0.5rem;
    font-size: 74px;
    line-height: 86.4px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    line-height: 2em;
    border: 0;
    width: 350px;
    margin-left: 2rem;
    text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.3), -2px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 0px rgba(255, 255, 255, 0.3), 0px -2px 0px rgba(255, 255, 255, 0.3); }
    #section-colorcode #color-input:focus {
      outline: none; }

#section-hex {
  height: 100%;
  padding: 0; }
  #section-hex .content-container {
    position: relative;
    top: 20%;
    max-height: 50%;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient(transparent, transparent, black, black, transparent, transparent); }
    #section-hex .content-container #ring-container {
      position: relative;
      top: 250px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 54.14736%;
      margin-left: 22.92632%; }
      #section-hex .content-container #ring-container:last-child {
        margin-right: 0; }
      #section-hex .content-container #ring-container #ring-aligner {
        text-align: center; }
        #section-hex .content-container #ring-container #ring-aligner .ring {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          display: inline-block;
          position: relative;
          width: 50px;
          margin-right: 2px;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          text-transform: uppercase; }
          #section-hex .content-container #ring-container #ring-aligner .ring:nth-child(2), #section-hex .content-container #ring-container #ring-aligner .ring:nth-child(4) {
            margin-right: 20px; }
          #section-hex .content-container #ring-container #ring-aligner .ring:nth-child(2n) {
            color: rgba(0, 0, 0, 0.5); }
          #section-hex .content-container #ring-container #ring-aligner .ring:hover * {
            background-color: white;
            outline: 1px solid #c8c8c8; }
          #section-hex .content-container #ring-container #ring-aligner .ring .letter {
            font-size: 18px;
            line-height: 28.8px;
            -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, position 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, position 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, position 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            background-color: rgba(255, 255, 255, 0.8);
            outline: 1px solid rgba(128, 128, 128, 0.5);
            width: 50px;
            height: 50px;
            padding-top: .8rem; }
            #section-hex .content-container #ring-container #ring-aligner .ring .letter:nth-child(n+2) {
              margin: 5px 0; }
            #section-hex .content-container #ring-container #ring-aligner .ring .letter:hover {
              cursor: pointer; }

#section-technology {
  width: 100%;
  height: 100%; }
  #section-technology .section-viewbox {
    float: left;
    display: block;
    margin-right: 2.17235%;
    width: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll; }
    #section-technology .section-viewbox:last-child {
      margin-right: 0; }
    #section-technology .section-viewbox > section {
      float: left;
      display: block;
      margin-right: 2.17235%;
      width: 100%;
      position: absolute;
      height: 100%; }
      #section-technology .section-viewbox > section:last-child {
        margin-right: 0; }
    #section-technology .section-viewbox > section:nth-child(2) {
      left: 90%; }
      #section-technology .section-viewbox > section:nth-child(2) .bit-image-container {
        width: 100%;
        height: 100%; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(1) {
          background: url("../img/section2/1bit.gif") center/cover;
          background: url("../img/section2/1bit.gif") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(2) {
          background: url("../img/section2/4bit.jpg") center/cover;
          background: url("../img/section2/4bit.jpg") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(3) {
          background: url("../img/section2/8bit.jpg") center/cover;
          background: url("../img/section2/8bit.jpg") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(4) {
          background: url("../img/section2/16bit.jpg") center/cover;
          background: url("../img/section2/16bit.jpg") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(5) {
          background: url("../img/section2/8bit.jpg") center/cover;
          background: url("../img/section2/8bit.jpg") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(6) {
          background: url("../img/section2/4bit.jpg") center/cover;
          background: url("../img/section2/4bit.jpg") center/cover; }
        #section-technology .section-viewbox > section:nth-child(2) .bit-image-container:nth-child(n+2) {
          display: none; }
      #section-technology .section-viewbox > section:nth-child(2) .tech-controller-wrapper .tech-controller {
        float: left;
        display: block;
        margin-right: 2.17235%;
        width: 44.98412%;
        margin-left: 31.43765%;
        position: absolute;
        bottom: 8%;
        padding-top: 28.8px;
        padding-bottom: 28.8px;
        background-color: lightgray;
        text-align: center; }
        #section-technology .section-viewbox > section:nth-child(2) .tech-controller-wrapper .tech-controller:last-child {
          margin-right: 0; }
        #section-technology .section-viewbox > section:nth-child(2) .tech-controller-wrapper .tech-controller li {
          display: inline-block;
          background-color: black;
          color: white;
          width: 11%;
          margin: 0 2.5%; }
          #section-technology .section-viewbox > section:nth-child(2) .tech-controller-wrapper .tech-controller li.selected {
            background-color: purple; }
